body{
  background-color: aliceblue;

}

/* .navItem {
    display: flex;
  text-align: right;
  text-decoration: none;
    
  } */


  /* .navBar {
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 1;
} */

.signup{
  margin-top: 60px;
}

.addbudgets{
  margin-top: 100px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.plaidLink{
  margin-top: 80px;
}

.transactionsContainer {
  margin-top: 100px;
}

.glanceContainer{
  margin-top: 100px;
}

.budgets {
  margin-top: 100px;
}